/* Weapon Stock style */

.class_row {
  min-width: 1000px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.class_avatar {
  float: left;
	margin-left: 8px;
	margin-right: 7px;
	font-family: TFBuild, Verdana;
	font-size: 16px;
	color: #ffefae;
	text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
	width: 100px;
	height: 100px;
	text-align:center;
	line-height:175px;
	display: block;
}

.class_categories {
  float: left;
}

.class_cat {
  width: 885px;
}

.class_cat_title {
  display: block;
  text-decoration: underline;
  font-family: TFBuild, Verdana;
  font-size: 12px;
  padding-top: 5px;

}

.essential {
  color: #fedcba;
  text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
}

.alternative {
  color: #abcdef;
  text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
}

.clearbar {
  clear: both;
}

.wep_entry {
  float: left;
  width: 75px;
  height: 75px;
  display: block;
  text-align: center;
}

.wep_name {
  height: 25px;
  display: block;
  font-family: TFBuild, Verdana;
  font-size: 10px;
}

.have {
  color: #ADE5AF;
  text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
}

.have_not {
  color: #F72D34;
  text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
}

.have_img {

}

.have_not_img {
  /* for IE */
  filter:alpha(opacity=15);
  /* CSS3 standard */
  opacity:0.15;
}

.wep_pic {
  width: 50px;
  height: 50px;
}



#weapon_stock_intro {
  color: white;
  font-size: 12px;
}

#intro_col1 {
  float: left;
}

#intro_col2 {
  float: left;
}


#tool_title {
	width: 585px;
}

#tool_img {
	float:left;
}

#tool_text {
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	height: 50px;
	width: 500px;
}

#tool_name {
	color: #ffb555;
	font-family: TFBuild, Verdana;
	font-size: 20px;
	text-shadow: black 0.2em 0.2em 0.2em;
}

#tool_desc {
	font-family: TFSec;
	font-size: 12px;
	color: white;
}

#lookup_submit {
	font-family:TFBuild, Verdana;
	font-size:20px;
	position: relative;
        left: 100px;
        top: 20px;
        color: #bbbbbb;
        margin-bottom: 60px;
}
