<h1>500: Internal Server Error</h1>

<p>Sorry, the internal server experienced an error. This most likely means VMDX messed up some of the TF2Toolbox code :(</p>

<h3>So what now?</h3>

<p>VMDX has already received an email with your request information and is looking into it.</p>

<p> If you'd like to follow up, try posting in the <a href="http://forums.steampowered.com/forums/showthread.php?t=1783903">TF2Toolbox SPUF thread</a> or the <a href="http://formspring.me/tf2toolbox">TF2Toolbox Formspring</a>. Please include your Steam Community profile/URL!!!!! (otherwise it is very unlikely he'll be able to help.) </p>

<h3>Request/Error Information</h3>
<h5>Error</h5>
<p>{{ error_info["error"] }}</p>

<h5>Request</h5>
<p>{{ error_info["request"] }}</p>

<h5>Form</h5>
<p>{{ error_info["form"] }}</p>

<h5>Session</h5>
<p>{{ error_info["session"] }}</p>
