{% extends "layout.html" %}

{% block content %}
    <form id="lookup_field_form" action="bptext" method="post">
      <input type="hidden" name="form_id" value="bptext" />
      <div id="tool_title">
        <img id="tool_img" src="static/media/bbcode_tool_80.png" alt="bbcode_tool">
        <div id="tool_text">
          <span id="tool_name" class="bptext_color">Backpack to Text Translator</span><br/>
          <span class="tool_desc">Converts backpack contents to eye-catching BBCode or Reddit Markdown for trading on forums, or just plaintext!</span>
        </div>

      </div>
      <div id="bptext_checkboxes">
        <div class="checkbox_column">
          <span class="checkbox_title bptext_color">Show Hats:</span>
          <input type="checkbox" name="Unusual Hats" id="unusual_hats" value="True" class="hat_box" checked="checked"><label for="unusual_hats" style="color: #8650AC">Unusual</label><br/>
          <input type="checkbox" name="Rare Promos" id="rare_promos" value="True" class="hat_box" checked="checked"><label for="rare_promos">Rare Promos</label>  <img id="rare_promos_tooltip" class="info_tooltip" src="static/media/info_tooltip.png"><br/>
          <input type="checkbox" name="Genuine Hats" id="genuine_hats" value="True" class="hat_box" checked="checked"><label for="genuine_hats" style="color: #4D7455">Genuine</label><br/>
          <input type="checkbox" name="Vintage Hats" id="vintage_hats" value="True" class="hat_box" checked="checked"><label for="vintage_hats" style="color: #476291">Vintage</label><br/>
          <input type="checkbox" name="Normal Hats" id="normal_hats" value="True" class="hat_box" checked="checked"><label for="normal_hats" style="color: #A59003">Normal</label><br/>
          <input type="checkbox" name="Promo Hats" id="promo_hats" value="True" class="hat_box" checked="checked"><label for="Promo Hats">Promo</label><br/>
	  <button type="button" class="uncheck_button" onclick="uncheckAll('hat_box')">Clear Hats</button>
        </div>
        <div class="checkbox_column" style="padding-right: 18px;">
          <span class="checkbox_title bptext_color">Weapons:</span>
          <input type="checkbox" name="Genuine Weapons" id="genuine_weapons" value="True" class="wp_box" checked="checked"><label for="genuine_weapons" style="color: #4D7455">Genuine</label><br/>
          <input type="checkbox" name="Strange Weapons" id="strange_weapons" value="True" class="wp_box" checked="checked"><label for="strange_weapons" style="color: #CD9B1D">Strange</label><br/>
          <input type="checkbox" name="Vintage Weapons" id="vintage_weapons" value="True" class="wp_box" checked="checked"><label for="vintage_weapons" style="color: #476291">Vintage</label><br/>
          <input type="checkbox" name="Normal Weapons" id="normal_weapons" value="True" class="wp_box" checked="checked"><label for="normal_weapons" style="color: #A59003">Normal</label><br/>
	  <button type="button" class="uncheck_button" onclick="uncheckAll('wp_box')">Clear Weps</button>
        </div>
        <div class="checkbox_column" style="width:90px;">
          <span class="checkbox_title bptext_color">Other:</span>
          <input type="checkbox" name="Paint" id="paint" value="True" class="misc_box" checked="checked"><label for="paint">Paint</label><br/>
          <input type="checkbox" name="Tools" id="tools" value="True" class="misc_box" checked="checked"><label for="tools">Tools</label><br/>
          <input type="checkbox" name="Crates" id="crates" value="True" class="misc_box" checked="checked"><label for="crates">Crates</label><br/>
          <input type="checkbox" name="Metal" id="metal" value="True" class="misc_box" checked="checked"><label for="metal">Metal</label><br/>
	  <button type="button" class="uncheck_button" onclick="uncheckAll('misc_box')">Clear Misc</button>
        </div>

        <div class="checkbox_column checkbox_column_bigright">
          <span class="checkbox_title bptext_color">Options:</span>
          <input type="checkbox" name="only_dup_weps" id="only_dup_weps" value="True"/><label for="only_dup_weps">Only show weapons with duplicates</label><br/>
          <input type="checkbox" name="display_hat_levels" id="display_hat_levels" value="True"/><label for="display_hat_levels">Display hat levels</label><br/>
          <input type="checkbox" name="display_craft_num" id="display_craft_num" value="True"/><label for="display_craft_num">Display craft numbers over 100</label><br/>
          <input type="checkbox" name="hide_untradeable" id="hide_untradeable" value="True"/><label for="hide_untradeable">Exclude all untradable items (dirty)</label><br/>
          <input type="checkbox" name="hide_uncraftable" id="hide_uncraftable" value="True"/><label for="hide_uncraftable">Exclude all uncraftable items (dirty)</label><br/>
          <input type="checkbox" name="hide_gifted" id="hide_gifted" value="True"/><label for="hide_gifted">Exclude all gifted items (dirty)</label><br/>
          <input type="checkbox" name="display_sc_url" id="display_sc_url" value="True" checked="checked"/><label for="display_sc_url">Add link to Steam Community URL</label><br/>
          <input type="checkbox" name="display_credit" id="display_credit" value="True" checked="checked"/><label for="display_credit">Display TF2Toolbox credit - thanks! :)</label><br/>
          <br/>
        </div>
        <div class="checkbox_column checkbox_column_bigright">
          <span class="checkbox_title bptext_color">Show BP Link?</span>
          <input type="radio" name="inc_bp_link" id="inc_bp_link_none" value="none" checked="checked"><label for="inc_bp_link_none">None</label><br/>
          <input type="radio" name="inc_bp_link" id="inc_bp_link_tf2b" value="tf2b"><label for="inc_bp_link_tf2b">TF2B</label><br/>
          <input type="radio" name="inc_bp_link" id="inc_bp_link_tf2items" value="tf2items"><label for="inc_bp_link_tf2items">TF2Items</label><br/>
          <input type="radio" name="inc_bp_link" id="inc_bp_link_optf2" value="optf2"><label for="inc_bp_link_optf2">OPTF2</label><br/><br/>
          <span class="checkbox_title bptext_color">Output Type</span>
          <input type="radio" name="output_type" id="output_type_bbcode" value="bbcode" checked="checked"><label for="output_type_bbcode">BBCode</label><br/>
          <input type="radio" name="output_type" id="output_type_markdown" value="markdown"><label for="output_type_markdown">Reddit Markdown</label><br/>
          <input type="radio" name="output_type" id="output_type_plaintext" value="plaintext"><label for="output_type_plaintext">Plaintext</label><br/>
        </div>
        <div class="checkbox_column checkbox_column_bigright">
          <span class="checkbox_title bptext_color">Sort Output By</span>
          <input type="radio" name="output_sort" id="output_sort_alpha" value="alpha" checked="checked"><label for="output_sort_alpha">Alphabetical</label><br/>
          <input type="radio" name="output_sort" id="output_sort_class" value="class"><label for="output_sort_class">Class</label><br/>
          <input type="radio" name="output_sort" id="output_sort_release" value="release" disabled="disabled"><label for="output_sort_release" style="color: #888888;">TF2 Update (in dev!)</label><br/>
        </div>

{% if "num_bp_slots" in session %}
{% set pages = session["num_bp_slots"] // 50 %}
        <div class="checkbox_column">
          <span class="checkbox_title bptext_color">Pages:</span>
          <input type="checkbox" name="pages[]" value="all" checked>All<br/>
{% set current_page_in_col = 2 %}
{% for page in range(1, pages+1) %}
          <input type="checkbox" name="pages[]" value="{{ page }}">{{ page }}<br/>
{% set current_page_in_col = current_page_in_col + 1 %}
{% if current_page_in_col == 8 and page != pages %}
{% set current_page_in_col = 1 %}
        </div>
{% if page != pages %}
        <div class="checkbox_column">
          <span class="checkbox_title bptext_color"></span>
{% endif %}
{% endif %}
{% if page == pages %}
        </div>
{% endif %}
{% endfor %}
{% endif %}

        <div class="clearbar"></div>
      </div>

      <div id="input_button">
{% if "steamID" in session %}
        <input type="submit" id="lookup_submit" value="Go!" />
{% else %}
        <input type="submit" style="color:#bbbbbb;" id="lookup_submit" value="Please lookup a user first." disabled/>'
{% endif %}
      </div>
    </form>

{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="static/js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.qtip-1.0.0-rc3.js"></script>
  <script>
    function uncheckAll(class_str) {
      var class_sel = '.' + class_str;
      $(class_sel).each(function(index) {
        this.checked = false;
      });
    }
  </script>
  <script>
  $(document).ready(function() {

      /* Create tooltips for every single item on mouseover. */
      $("#rare_promos_tooltip").each( function(i) {
        var data = "Bill's Hat, Max's Severed Head, Hat of Undeniable Wealth And Respect, Earbuds, Voodoo Juju, Spine-Chilling Skull, Gentle Manne's Service Medal";
        if (data !== "") {
          $(this).qtip({
            content: data,
            position: { target: 'mouse'},
            show: { delay: 0, effect: {length: 0} },
            hide: { delay: 0, effect: {length: 0} },
            style: {
              textAlign: 'center',
              name: 'dark',
              'font-size': 14,
              'font-family': 'Verdana'
            }
          });
        }
      });
  })
  </script>
{% endblock javascript %}

{% block adstrip %}
<div id="adstrip">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-2260733802952622";
	/* TF2Toolbox bottom banner */
	google_ad_slot = "3028477067";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
{% endblock adstrip %}
