#content {
	height: 400px;
}

.toolbox {
	float:left;
	width: 400px;
	height: 400px;
	margin-left: 10px;
}

.tools_title {
	font-family: TFBuild, Verdana;
	color: #ffffff;
	text-shadow: black 0.2em 0.2em 0.2em;
	display: block;
	margin-top: 20px;
	margin-left: 10px;
}

.tool {
	margin-top: 10px;
	margin-left: 10px;
	height: 100px;
	width: 400px;	/* tool img margin + tool title width + tool img width*/

}

.tool_img {
	float: left;
	margin-right: 5px;
	display:block;
	width: 100px;
	height: 100px;

}

.tool_title {
	float:left;
	font-family: TFBuild, Verdana;
	font-size: 16px;
	text-shadow: black 0.2em 0.2em 0.2em;
	display: block;
	margin-top: 13px;
	width: 295px;
	margin-bottom: 5px;
	color: white;
}

.tool_desc {
	display: block;
	margin-top: 5px;
	font-family: TFSec;
	font-size: 12px;
	color: white;

}

.tool_news {
	display: block;
	margin-top: 5px;
	font-family: TFSec;
	font-size: 10px;
	color: #ffefae;
	font-style: italic;
}

/* Tool colors */

#bbcode_tool {
	color: #9ea3f0;
}

#metal_tool {
	color: #a6a9b8;
}

#dict_tool {
	color: #ffb555;
}