/* Metal lookup */
#checkboxes {
	clear:both;
	height: 150px;
	padding-top: 20px;
	padding-left: 10px;
	color: #f2f2f2;
	width: 900px;
}

.checkbox_column {
	text-align:left;
	font-family: TFSec;
	font-size:13px;
	width: 150px;
	height: 130px;
	float:left;
}

.checkbox_column_extra_wide {
	width: 500px;
}


.checkbox_title {
	font-size: 14px;
	font-family: TFBuild;
	text-decoration: underline;
	text-align:left;
	color: #a6a9b8;
	text-shadow: black 0.1em 0.1em 0.1em;
	display: block;
	height: 20px;
}

#lookup_submit {
	font-family:TFBuild;
	font-size:20px;
	position: relative;
	left: 300px;
	height: 35px;
}


#tool_title {
	float:left;
	width: 585px;
}

#tool_img {
	float:left;
}

#tool_text {
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	height: 50px;
	width: 500px;
}

#tool_name {
	font-family: TFBuild;
	font-size: 20px;
	color: #a6a9b8;
	text-shadow: black 0.2em 0.2em 0.2em;
}

#tool_desc {
	font-family: TFSec;
	font-size: 12px;
	color: white;
}

/* Metal result */
#metal_output {
	padding-top: 5px;
	width: 1400px;
}

.class_column {
	width: 100px;
	padding-left: 8px;
	padding-right: 7px;
	float:left;
/*	border-right: 1px dashed white;*/
}

.class_avatar {
	float: left;
	margin-left: 8px;
	margin-right: 7px;
	font-family: TFBuild;
	font-size: 16px;
	color: #ffefae;
	text-shadow: black 0.1em 0.1em 0.2em, -0.1em -0.1em 0.2em black, -0.1em 0.1em 0.2em black, 0.1em -0.1em 0.2em black;
	width: 100px;
	height: 100px;
	text-align:center;
	line-height:175px;
	display: block;
}

.special {
	color: #70B04A;
}

.vintage {
	color: #476291;
}
.normal {
	color: #FFD700;
}

.weapon_entry {
	width: 100px;
	height: 50px;
	margin-top: 5px;
	border-bottom: 1px solid gray;
}
.weapon_image {
	display:block;
	float:left;
	width: 50px;
	height: 50px;
}

.quantity {
	display:block;
	float:left;
	font-family: TFBuild;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.q_single {
	height: 50px;
	line-height: 50px;
}

.q_double {
	height: 25px;
	line-height: 25px;
}

.q_x {
	color: white;
	width: 10px;
	font-size: 10px;
}

.q_num {
	width: 40px;
	font-size: 18px;
}

.cross_column_title {
	clear: both;
	text-align: center;
	width: 1150px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cross_column_title * {
	font-family: TFBuild;
	font-size: 16px;
	text-decoration: underline;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.clearbar{
	clear:both;
}